{{define "title"}}Admin Dashboard{{end}}

{{define "body"}}
<div>
	<h1 class="header center orange-text">{{.title}}</h1>

	<div>
		<h4 class="orange-text">All users:</h4>
		<table class="responsive-table striped">
			<thead>
				<tr>
					<th>Username</th>
					<th class="right-align">Is Admin</th>
					<th class="right-align">Delete</th>
				</tr>
			</thead>
			<tbody>
				{{range .users}}
				<tr>
					<td>{{.Username}}</td>
					<td class="right-align">
						{{if .IsAdmin}}
						<i class="material-icons">done</i>
						{{else}}
						<i class="material-icons">clear</i>
						{{end}}
					</td>
					<td class="right-align"><a class="userDeleteButton" href="#"><i data-userid={{.ID}}
								class="material-icons">delete_forever</i></a></td>
				</tr>
				{{end}}
				<tr>
					<td><input type="text" id="userNameField" placeholder="Username"><input type="password"
							id="userPasswordField" placeholder="Password"></td>
					<td class="right-align"><label><input type="checkbox" class="filled-in"
								id="userAdminField" /><span></span></label></td>
					<td>
						<button class="btn waves-effect waves-light right" id="userCreateButton">
							Create New
							<i class="material-icons right">add</i>
						</button>
					</td>
				</tr>
			</tbody>
		</table>
	</div>

	<div>
		<h4 class="orange-text">All sites:</h4>
		<table class="responsive-table striped">
			<thead>
				<tr>
					<th>Host</th>
					<th>Path-Prefix</th>
					<th class="right-align">Prompt Basic Auth</th>
					<th class="right-align">Anonymous Access</th>
					<th class="right-align">Config OK</th>
					<th class="right-align">Edit</th>
					<th class="right-align">Delete</th>
				</tr>
			</thead>
			<tbody>
				{{range .sites}}
				<tr>
					<td>{{.Host}}</td>
					<td>{{.PathPrefix}}</td>
					<td class="right-align">
						{{if .PromptBasicAuth}}
						<i class="material-icons">done</i>
						{{else}}
						<i class="material-icons">clear</i>
						{{end}}
					</td>
					<td class="right-align">
						{{if .AnonymousAccess}}
						<i class="material-icons">done</i>
						{{else}}
						<i class="material-icons">clear</i>
						{{end}}
					</td>
					<td class="right-align">
						{{if .ConfigOK}}
						<i class="material-icons">done</i>
						{{else}}
						<i class="material-icons">clear</i>
						{{end}}
					</td>
					<td class="right-align"><a href="/site/{{.ID}}"><i class="material-icons">edit</i></a></td>
					<td class="right-align"><a class="siteDeleteButton" href="#"><i data-siteid={{.ID}}
								class="material-icons">delete_forever</i></a></td>
				</tr>
				{{end}}
				<tr>
					<td><input type="text" id="siteHostField" placeholder="Host"></td>
					<td><input type="text" id="sitePathPrefixField" placeholder="Path-Prefix"></td>
					<td class="right-align"><label><input type="checkbox" class="filled-in"
								id="sitePromptBasicAuthField" /><span></span></label></td>
					<td class="right-align"><label><input type="checkbox" class="filled-in"
								id="siteAnonymousAccessField" /><span></span></label></td>
					<td></td>
					<td colspan="2">
						<button class="btn waves-effect waves-light right" id="siteCreateButton">
							Create New
							<i class="material-icons right">add</i>
						</button>
					</td>
				</tr>
			</tbody>
		</table>
		<p>
			If the config for a site is not OK, most probably the Traefik configuration is not set properly.
			More information about this can be found in the <a
				href="https://github.com/mheidinger/TraefikAccessControl/blob/master/README.md">readme</a>.
		</p>
	</div>

	<script type="text/javascript" src="/static/js/dashboard_admin.js"></script>
</div>
{{end}}
