{{define "title"}}Dashboard{{end}}

{{define "body"}}
<div>
	<h1 class="header center orange-text">Dashboard</h1>

	<div class="container">
		<h4 class="orange-text">Your available sites:</h4>
		<table class="responsive-table striped">
			<thead>
				<tr>
					<th>Host</th>
					<th>Path-Prefix</th>
					<th class="right-align">BasicAuth Allowed</th>
				</tr>
			</thead>
			<tbody>
				{{range .siteMappings}}
					<tr>
						<td>{{.Site.Host}}</td>
						<td>{{.Site.PathPrefix}}</td>
						<td class="right-align">
							{{if .SiteMapping.BasicAuthAllowed}}
								<i class="material-icons">done</i>
							{{else}}
								<i class="material-icons">clear</i>
							{{end}}
						</td>
					</tr>
				{{end}}
			</tbody>
		</table>
	</div>

	<div class="container">
		<h4 class="orange-text">Your bearer tokens:</h4>
		<table class="responsive-table striped">
			<thead>
				<tr>
					<th>Token</th>
					<th>Name</th>
					<th class="right-align">Delete</th>
				</tr>
			</thead>
			<tbody>
				{{range .tokens}}
					<tr>
						<td>{{.Token}}</td>
						<td>{{.Name}}</td>
						<td class="right-align"><a href="#delete"><i class="material-icons">delete_forever</i></a></td>
					</tr>
				{{end}}
			</tbody>
		</table>
	</div>

	{{if .user.IsAdmin}}
		<h2 class="center orange-text">Admin Area</h2>

		<div class="container">
			<h4 class="orange-text">All users:</h4>
			<table class="responsive-table striped">
				<thead>
					<tr>
						<th>Username</th>
						<th class="right-align">Is Admin</th>
						<th class="right-align">Delete</th>
					</tr>
				</thead>
				<tbody>
					{{range .users}}
						<tr>
							<td>{{.Username}}</td>
							<td class="right-align">
								{{if .IsAdmin}}
									<i class="material-icons">done</i>
								{{else}}
									<i class="material-icons">clear</i>
								{{end}}
							</td>
							<td class="right-align"><a href="#delete"><i class="material-icons">delete_forever</i></a></td>
						</tr>
					{{end}}
				</tbody>
			</table>
		</div>

		<div class="container">
			<h4 class="orange-text">All sites:</h4>
			<table class="responsive-table striped">
				<thead>
					<tr>
						<th>Host</th>
						<th>Path-Prefix</th>
						<th class="right-align">Change</th>
						<th class="right-align">Delete</th>
					</tr>
				</thead>
				<tbody>
					{{range .sites}}
						<tr>
							<td>{{.Host}}</td>
							<td>{{.PathPrefix}}</td>
							<td class="right-align"><a href="#edit"><i class="material-icons">edit</i></a></td>
							<td class="right-align"><a href="#delete"><i class="material-icons">delete_forever</i></a></td>
						</tr>
					{{end}}
				</tbody>
			</table>
		</div>
	{{end}}
</div>
{{end}}