{{define "title"}}Dashboard{{end}}

{{define "body"}}
<div>
	<h1 class="header center orange-text">Dashboard</h1>

	<div class="container">
		<h4 class="orange-text">Your available sites:</h4>
		<table class="responsive-table striped">
			<thead>
				<tr>
					<th>Host</th>
					<th>Path-Prefix</th>
					<th class="right-align">BasicAuth Allowed</th>
				</tr>
			</thead>
			<tbody>
				{{range .siteMappings}}
				{{if and (.Site) (.SiteMapping) }}
					<tr>
						<td>{{.Site.Host}}</td>
						<td>{{.Site.PathPrefix}}</td>
						<td class="right-align">
							{{if .SiteMapping.BasicAuthAllowed}}
								<i class="material-icons">done</i>
							{{else}}
								<i class="material-icons">clear</i>
							{{end}}
						</td>
					</tr>
				{{else}}
					<tr class="emptyRow"></tr>
				{{end}}
				{{end}}
			</tbody>
		</table>
	</div>

	<div class="container">
		<h4 class="orange-text">Your bearer tokens:</h4>
		<table class="responsive-table striped">
			<thead>
				<tr>
					<th>Name</th>
					<th>Token</th>
					<th class="right-align">Delete</th>
				</tr>
			</thead>
			<tbody>
				{{range .tokens}}
					<tr>
						<td>{{.Name}}</td>
						<td>{{.Token}}</td>
						<td class="right-align"><a class="bearerDeleteButton" href="#"><i data-tokenname="{{.Name}}" class="material-icons">delete_forever</i></a></td>
					</tr>
				{{end}}
				<tr>
					<td><input type="text" id="bearerNameField" placeholder="Name"></td>
					<td></td>
					<td>
						<button class="btn waves-effect waves-light right" id="bearerCreateButton">
							Create New
							<i class="material-icons right">add</i>
						</button>
					</td>
				</tr>
			</tbody>
		</table>
	</div>

	<div class="container">
		<h4 class="orange-text">Change Password:</h4>
		<div class="row">
			<div class="input-field col s10">
				<input id="changePasswordField" type="password">
				<label for="changePasswordField">Password</label>
			</div>
			<button class="btn waves-effect waves-light col s2" id="changePasswordButton">
				Change
				<i class="material-icons right">edit</i>
			</button>
		</div>
	</div>

	<script type="text/javascript" src="/static/js/dashboard.js"></script>

	{{if .user.IsAdmin}}
		<h2 class="center orange-text">Admin Area</h2>

		<div class="container">
			<h4 class="orange-text">All users:</h4>
			<table class="responsive-table striped">
				<thead>
					<tr>
						<th>Username</th>
						<th class="right-align">Is Admin</th>
						<th class="right-align">Delete</th>
					</tr>
				</thead>
				<tbody>
					{{range .users}}
						<tr>
							<td>{{.Username}}</td>
							<td class="right-align">
								{{if .IsAdmin}}
									<i class="material-icons">done</i>
								{{else}}
									<i class="material-icons">clear</i>
								{{end}}
							</td>
							<td class="right-align"><a class="userDeleteButton" href="#"><i data-userid={{.ID}} class="material-icons">delete_forever</i></a></td>
						</tr>
					{{end}}
					<tr>
						<td><input type="text" id="userNameField" placeholder="Username"><input type="password" id="userPasswordField" placeholder="Password"></td>
						<td class="right-align"><label><input type="checkbox" class="filled-in" id="userAdminField"/><span></span></label></td>
						<td>
							<button class="btn waves-effect waves-light right" id="userCreateButton">
								Create New
								<i class="material-icons right">add</i>
							</button>
						</td>
					</tr>
				</tbody>
			</table>
		</div>

		<div class="container">
			<h4 class="orange-text">All sites:</h4>
			<table class="responsive-table striped">
				<thead>
					<tr>
						<th>Host</th>
						<th>Path-Prefix</th>
						<th class="right-align">Prompt Basic Auth</th>
						<th class="right-align">Anonymous Access</th>
						<th class="right-align">Edit</th>
						<th class="right-align">Delete</th>
					</tr>
				</thead>
				<tbody>
					{{range .sites}}
						<tr>
							<td>{{.Host}}</td>
							<td>{{.PathPrefix}}</td>
							<td class="right-align">
								{{if .PromptBasicAuth}}
									<i class="material-icons">done</i>
								{{else}}
									<i class="material-icons">clear</i>
								{{end}}
							</td>
							<td class="right-align">
								{{if .AnonymousAccess}}
									<i class="material-icons">done</i>
								{{else}}
									<i class="material-icons">clear</i>
								{{end}}
							</td>
							<td class="right-align"><a href="/site/{{.ID}}"><i class="material-icons">edit</i></a></td>
							<td class="right-align"><a class="siteDeleteButton" href="#"><i data-siteid={{.ID}} class="material-icons">delete_forever</i></a></td>
						</tr>
					{{end}}
					<tr>
						<td><input type="text" id="siteHostField" placeholder="Host"></td>
						<td><input type="text" id="sitePathPrefixField" placeholder="Path-Prefix"></td>
						<td class="right-align"><label><input type="checkbox" class="filled-in" id="sitePromptBasicAuthField"/><span></span></label></td>
						<td class="right-align"><label><input type="checkbox" class="filled-in" id="siteAnonymousAccessField"/><span></span></label></td>
						<td></td>
						<td>
							<button class="btn waves-effect waves-light right" id="siteCreateButton">
								Create New
								<i class="material-icons right">add</i>
							</button>
						</td>
					</tr>
				</tbody>
			</table>
		</div>

		<script type="text/javascript" src="/static/js/dashboard_admin.js"></script>
	{{end}}
</div>
{{end}}